<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <div>
        <form action="submit" method="post">
            <h1>URL Shortener</h1>
            <br>
            <input type="text", placeholder ='Enter Your URL Here', name='UrlInput'>
            <br>
            <input type="submit" name="btn" id="", value ='Shorten'>
            <br>
            <p name= 'ShortenedUrl'></p>
        </form>
    </div>
    
</body>
</html>